.readings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:16px;
    height:100%
}
.readings__item{
    display: flex;
    flex-direction: column;
    gap:12.5px;
    border-radius: 15px;
    padding:15px 12px;
    background: url('/src/assets/imgs/readingBGOrange.png') no-repeat,#FF9A3E;
    background-size: contain;
}
.readings__item:nth-child(2){
    background: url('/src/assets/imgs/readingBGBlue.png') no-repeat,#7661E2;
    background-size: contain;
}
.readings__item:nth-child(3){
    background: url('/src/assets/imgs/readingBGGreen.png') no-repeat,#3DD598;
    background-size: contain;
}
.readings__item-title{
    font-size:11.25px;
    margin: 0;
    color:white;
}
.readings__item-count{
    display:flex;
    align-items: center;
    gap:3px;
    font-family: 'CairoBold';
    color:white
}