.first-person{
    background-color: white;
    border-radius: 8px;
    padding: 26px 20.5px 25px 12px;
}
.first-person__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.first-person__title{
    font-size: 12px;
    font-family: 'CairoBold';
    margin-bottom: 10px;
}
.first-person__date{
    color: #787486;
    font-size: 9px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.first-person__info-wrapper{
    display: flex;
    gap: 20px;
}
.first-person__info-content-wrapper{
    display: flex;
    flex-direction: column;
    gap:32px
}
.first-person__info-item-wrapper{
    display: flex;
    flex-direction: column;
    gap:8px;
}
.first-person__info-item-title{
    color: #787486;
    font-size: 9px;
    display: flex;
    align-items: center;
    gap:3.5px;
    width: max-content;
}
.first-person__info-item-title::before{
    content: '';
    width: 7.361px;
    height: 7.361px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #3DD598;
}
.first-person__info-item-wrapper:nth-child(2) .first-person__info-item-title::before{
    background-color: #7661E2;
}
.first-person__info-item-wrapper:nth-child(3) .first-person__info-item-title::before{
    background-color: #F8C07F;
}
.first-person__info-item-info{
    font-size: 13.5px;
    font-family: 'CairoBold';
}
.first-person__info-image{
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    max-width: 200px;
}