.side-navbar__content-wrapper{
    background-color: #fff;
    height: 100%;
    padding: 18px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.navbar__accordion{
    height:100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.side-navbar__accordion-header{
    transition: transform .15s linear;
    color:#2E2E2E;
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    padding-right: 20px;
    min-width: max-content;
}
body[dir='rtl'] .side-navbar__accordion-header{
    padding-right: initial;
    padding-left: 20px;
}
.side-navbar__accordion-header-icon{
    transition: var(--transition);
}
.side-navbar__content-wrapper--closed .side-navbar__accordion-header{
    transform:translateX(-300%);
}
body[dir='rtl'] .side-navbar__content-wrapper--closed .side-navbar__accordion-header{
    transform:translateX(300%);
}
.side-navbar__content-wrapper--closed:hover .side-navbar__accordion-header{
    transform:translateX(0%);
}
body[dir='rtl'] .side-navbar__content-wrapper--closed:hover .side-navbar__accordion-header{
    transform:translateX(0%);
}
.side-navbar__content-wrapper--closed .side-navbar__item-wrapper::before{
    border-radius: 10px;
}
.side-navbar__content-wrapper--closed:hover .side-navbar__item-wrapper::before{
    border-radius: 40px 0px;
}
.navbar__logo-link{
    display: flex;
    margin-bottom: 50px;
    transition: var(--transition);
}
.side-navbar__content-wrapper--closed .navbar__logo-link{
    width: 250px;
    transform: translateX(-20px);
}
body[dir='rtl'] .side-navbar__content-wrapper--closed .navbar__logo-link{
    transform: translateX(20px);
}
.side-navbar__content-wrapper--closed:hover .navbar__logo-link{
    transform: translateX(0px);
}
body[dir='rtl'] .side-navbar__content-wrapper--closed:hover .navbar__logo-link{
    transform: translateX(0px);
}
.navbar__logo{
    display: flex;
    margin:auto;
    transition: var(--transition);
}
.navbar__section-wrapper{
    margin-bottom: 23px;
}
.navbar__section-wrapper-title{
    color:#CFCFCF;
    font-size:12px;
    padding:0 20px ;
    margin-bottom:20px
}
.navbar__section-wrapper-title--margin{
    margin-bottom:30px
}
.side-navbar__item-wrapper{
    color:var(--text-color-dark);
    margin-top: 10px;
    transition: all .3s ease-in-out;
    transition: var(--transition);
    position: relative;
}
.side-navbar__item-wrapper .side-navbar__accordion-header-item-cont{
    position: relative;
    z-index: 20;
    display: flex;
    align-items: center;
    gap:6.5px
}
.side-navbar__item-icon-wrapper{
    padding: 10.5px 12.5px;
    border-radius: 0px 45px 45px 0px;
    width: fit-content;
    transition: var(--transition);
}
body[dir='rtl'] .side-navbar__item-icon-wrapper{
    border-radius:  45px 0px 0px 45px;
}

.side-navbar__item-wrapper:hover .side-navbar__item-icon-wrapper{
    background-color: var(--main-color);
}
.side-navbar__item-wrapper--active .side-navbar__item-icon-wrapper{
    background-color: var(--main-color);
}
.side-navbar__item-icon{
    width: 21.75px;
    height: 21.75px;
}
.side-navbar__content-wrapper--closed .side-navbar__item-icon{
    margin-right: initial!important;
    margin-left: initial!important;
}
.side-navbar__content-wrapper--closed:hover .side-navbar__item-icon{
    margin-right: 20px;
}
body[dir='rtl'] .side-navbar__content-wrapper--closed:hover .side-navbar__item-icon{
    margin-right: initial;
    margin-left: 20px;
}
.side-navbar__content-wrapper--closed .side-navbar__item-icon-wrapper{
    background: transparent!important;
    transform: translateX(20px);
}
.side-navbar__content-wrapper--closed:hover .side-navbar__item-icon-wrapper{
    transform: translateX(0px);
}
body[dir='rtl'] .side-navbar__content-wrapper--closed .side-navbar__item-icon-wrapper{
    transform: translateX(-20px);
}
body[dir='rtl'] .side-navbar__content-wrapper--closed:hover .side-navbar__item-icon-wrapper{
    transform: translateX(0px);
}
.side-navbar__accordion-item {
    border: 0;
}
.side-navbar__item-wrapper button{
    background-color: transparent;
    padding: 0;
    color: black;
    box-shadow: none!important;
    border-radius: 40px 0px;
    transition: var(--transition);
    display: flex;
    align-items: center;

}
.side-navbar__content-wrapper--closed:hover .side-navbar__item-wrapper button{
    justify-content: start;
}
.side-navbar__accordion-item button:not(.collapsed){
    color: black;
    background-color: transparent;
}
.side-navbar__accordion-item button:focus{
    background-color: transparent;
}
.side-navbar__accordion-item button:after{
    display:none
}
.side-navbar__side-nav-link{
    transition: var(--transition);
    width: 100%;
    height: 100%;
    
}
.side-navbar__accordion-header-content{
    padding: 5px 0px;
    width:100%
}
.side-navbar__item-wrapper .side-navbar__side-nav-link{
    color: black;
}
.side-navbar__side-nav-link-toltip{
    position: absolute;
    left:0;
    background-color:red;
    color: black;
}

.side-navbar__accordion-body{
    padding-top: 10px;
}
.side-navbar__content-wrapper--closed .side-navbar__accordion-body{
    display: none;
}
.side-navbar__content-wrapper--closed:hover .side-navbar__accordion-body{
    display: block;
}
.side-navbar__accordion-list{
    padding-left: 12.5px;
    border-left:  0.75px solid #E9E9E9;
    margin-left: 17px;
}
body[dir='rtl'] .side-navbar__accordion-list{
    padding-left: initial;
    border-left:  initial;
    margin-left: initial;
    padding-right: 12.5px;
    border-right:  0.75px solid #E9E9E9;
    margin-right: 17px;
}
.side-navbar__accordion-list-item{
    margin-bottom: 15px;
}
.side-navbar__side-link{
    color: var(--text-color-dark);
    transition: var(--transition);
    font-size: 10.5px;
    color:#2E2E2E;
}
.side-navbar__side-link:hover , .side-navbar__side-link:focus{
    color: var(--main-color);
}
.navbar__logo-responsive-button{
    display: flex;
    width: 17.5px;
    height: 17.5px;
    background-color: var(--main-color);
    box-shadow: 0px 13.5px 30px 0px #7090B040;
    position: absolute;
    left: 240px;
    top: 54px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}
.side-navbar__content-wrapper--closed .navbar__logo-responsive-button{
    left: 90px;
}
.side-navbar__content-wrapper--closed:hover .navbar__logo-responsive-button{
    left: 240px;
}
body[dir='rtl'] .navbar__logo-responsive-button{
    right: 240px;
    left:initial
}
body[dir='rtl'] .side-navbar__content-wrapper--closed .navbar__logo-responsive-button{
    right: 90px;
    left:initial
}
body[dir='rtl'] .side-navbar__content-wrapper--closed:hover .navbar__logo-responsive-button{
    right: 240px;
    left:initial
}

@keyframes animateSideNavBarTextIn {
    0%{
        position: absolute;
    }
    100%{
        position: relative;
    }
}
@media (max-width: 768px){
    .side-navbar__content-wrapper--closed {
        padding:0
    }
    .side-navbar__content-wrapper--closed .side-navbar__accordion-header-item{
        transform:translateX(-300%);
    }
    body[dir='rtl'] .side-navbar__content-wrapper--closed .side-navbar__accordion-header-item{
        transform:translateX(300%);
    }
    .side-navbar__content-wrapper--closed:hover .side-navbar__accordion-header-item{
        transform:translateX(0%);
    }
    .navbar__logo-responsive-button{
        top:24px
    }
}