.portal__side-navbar-content-wrapper--closed .logo-letters-path{
    opacity: 0;
    transition: var(--transition);
}
.portal__side-navbar-content-wrapper--closed:hover .logo-letters-path{
    opacity: 1;
}
.portal__side-navbar-content-wrapper--closed .logo-circle{
    transition: var(--transition);
}
.portal__side-navbar-content-wrapper--closed:hover .logo-circle{
    transform: translateX(0px);
}
body[dir='rtl'] .portal__side-navbar-content-wrapper--closed .logo-circle{
    transform: translateX(110px);
}
body[dir='rtl'] .portal__side-navbar-content-wrapper--closed:hover .logo-circle{
    transform: translateX(0px);
}
.accordion-button:not(.collapsed) .portal__accordion-header-icon{
    transform: rotateX(180deg);
}
@keyframes rotateLogoCircle {
    from{
        transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg)
    }
}